body {
    background-color: #000000;
}

.container {
    background-image: linear-gradient(
            to bottom,
            rgb(128, 139, 150),
            rgba(128, 139, 150, 0.111)
    );
    padding: 30px;
    padding-top: 20px;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    max-width: 45%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 150px;
}

.cont {
    width: 90%;
    margin-top: 50px;
}

#back {
    height: 50px;
    width: 50px;
}

#back-back {
    position: absolute;
    background-color: rgba(128, 139, 150, 0.663);
    top: 10%;
    left: 30%;
    width: 63px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    border-radius: 5px;
}

#back-back:hover {
    background-color: rgba(128, 139, 150, 0.527);
}

.product-container {
    position: relative;
    width: 100%;
    height: 120px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.318);
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
    transition: filter 0.2s ease;
}
.product-container:hover {
    background-color: rgba(255, 255, 255, 0.432);
}

.product-container:hover {
    transform: scale(1.05);
}

.img-for-product {
    margin: 10px;
    height: 100px;
    width: 80px;
    border-radius: 10px;
    border-color: rgb(211, 81, 101);
    border-bottom: rgb(211, 81, 101);
    border-style: groove;
}

.inscriptions-text {
    top: 10px;
    left: 10px;
    font-family: "Vollkorn SC", serif;
    font-weight: 600;
    font-size: 18px;
    margin: 1px;
    text-align: left;
}

.inscriptions {
    margin-left: 20px;
    margin-top: 20px;
}

button {
    font-size: 17px;
    font-family: "Vollkorn SC", serif;
    display: inline-block;
    padding: 13px 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(211, 81, 101);
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 30px;
    border: none;
}

button:hover {
    background-color: rgba(211, 81, 100, 0.781);
    color: rgba(255, 255, 255, 0.758);
}

.background {
    position: relative;
    background-color: white;
    border-radius: 10px;
    width: 30px;
    height: 30px;
}

.like {
    height: 24px;
    width: 24px;
    margin-top: 4px;
}

.like-container {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 74px;
    top: calc(50% - 35px);
}

.cross-container {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 55px;
    top: calc(50% - 35px);
}

.cross {
    height: 20px;
    width: 20px;
    margin-top: 5px;
}

.counter-container {
    position: absolute;
    display: flex;
    width: 100px;
    height: 30px;
    top: calc(50%);
    right: 24px;
    border-radius: 10px;
    background-color: #ffffff27;
}

.plus-container {
    position: absolute;
    right: 0;
    background-color: white;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.minus-container {
    position: absolute;
    background-color: gray;
    width: 30px;
    height: 30px;
    border-radius: 10px;
}

.minus {
    top: 1px;
    width: 29px;
    height: 29px;
}

.plus {
    position: absolute;
    top: 6px;
    left: 6px;
    transform: rotate(45deg);
    width: 18px;
    height: 18px;
}

.num {
    position: absolute;
    font-family: "Vollkorn SC", serif;
    color: black;
    font-size: 25px;
    right: 43%;
    top: -3px;
    margin: 0;
}

.summa {
    font-family: "Vollkorn SC", serif;
    color: rgb(255, 255, 255);
    font-size: 19px;
    margin-top: 45px;
}

h1 {
    font-family: "Oi", cursive;
    font-weight: 10;
    color: white;
    font-size: 35px;
    text-align: center;
    margin: 0;
}

#your {
    margin-top: 60px;
}

#cart {
    color: rgb(211, 81, 101);
    font-size: 43px;
    margin-top: -30px;
    margin-bottom: 30px;
}

@media (max-width: 1100px) {
    .container {
        max-width: 65%;
    }

    #back-back {
        left: 15%;
    }
}
@media (max-width: 640px) {
    .container {
        max-width: 95%;
        padding: 0;
    }

    #back-back {
        left: 1%;
    }

    .inscriptions {
        margin-left: 0;
    }

    .counter-container {
        right: 5px;
        top: 70px;
    }

    .cross-container {
        right: 40px;
        top: 32px;
    }
}
@media (max-width: 440px) {
    #back-back {
        top: 5px;
    }
}