body {
    background-color: #000000;
}

.container {
    background-image: linear-gradient(
            to bottom,
            rgb(128, 139, 150),
            rgba(128, 139, 150, 0.111)
    );
    padding: 30px;
    padding-top: 20px;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    max-width: 65%;
    position: relative;
    margin-bottom: 150px;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 1fr;
}

#back {
    height: 50px;
    width: 50px;
}

#back-back {
    position: absolute;
    background-color: rgba(128, 139, 150, 0.663);
    top: 10%;
    left: 30%;
    width: 63px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    border-radius: 5px;
}

#back-back:hover {
    background-color: rgba(128, 139, 150, 0.527);
}

.img-container {
    position: relative;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden;
    grid-row: 1/3;
    margin-top: 5%;
}

.img-container img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

/*   PRICE   */

#price-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.608);
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 10px;
}

#without-sale {
    color: rgba(0, 0, 0, 0.373);
    text-align: center;
    font-size: 30px;
    font-family: "Oi", cursive;
    font-weight: 10;
    margin: 0;
    margin-top: 25px;
    align-self: center;
}

#with-sale {
    color: rgb(211, 81, 101);
    text-align: center;
    font-size: 60px;
    font-family: "Oi", cursive;
    font-weight: 10;
    margin: 0;
    margin-top: 40px;
    align-self: center;
}

#cross-container {
    position: absolute;
    width: 100%;
    height: 47px;
    top: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cross {
    background-color: rgb(0, 0, 0);
    top: 26%;
    left: 22%;
    height: 5px;
    width: 220px;
}

/*   SIZE   */

#sizes-container {
    display: flex;
    justify-content: center;
    margin-top: 23px;
}

.size-container {
    border-radius: 10px;
    margin-top: 30px;
    margin: 10px;
    background-color: rgba(255, 255, 255, 0.608);
    height: 50px;
    width: 50px;
}

.size-container p {
    text-align: center;
    font-size: 25px;
    font-family: "Vollkorn SC", serif;
    margin: 0;
    margin-top: 6px;
}

#main-container {
    position: relative;
    background-color: rgba(255, 255, 255, 0.608);
    margin-left: 30px;
    margin-top: 30px;
    border-radius: 10px;
    text-align: center;
}

#size-table a {
    font-size: 17px;
    font-family: "Vollkorn SC", serif;
    text-decoration: none;
    color: black;
    margin: auto;
}

#size-table {
    text-align: center;
}

button {
    font-size: 17px;
    font-family: "Vollkorn SC", serif;
    display: inline-block;
    padding: 23px 28px;
    color: rgb(255, 255, 255);
    background-color: rgb(211, 81, 101);
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 30px;
    border: none;
}

button:hover {
    background-color: rgba(211, 81, 100, 0.781);
    color: rgba(255, 255, 255, 0.758);
}

h1 {
    font-family: "Oi", cursive;
    font-weight: 10;
    color: white;
    font-size: 35px;
    text-align: center;
    margin: 0;
}

#product {
    margin-top: 60px;
}

#description {
    color: rgb(211, 81, 101);
    font-size: 43px;
    margin-top: -28px;
    margin-bottom: 30px;
}

#description-container {
    background-image: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.67),
            rgba(128, 139, 150, 0.411)
    );
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 30px;
}

#name-description {
    color: black;
    font-size: 20px;
    font-family: "Vollkorn SC", serif;
    margin-left: 20px;
}

#product-description {
    color: black;
    font-size: 17px;
    font-family: "Vollkorn SC", serif;
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

@media (max-width: 1250px) {
    .container {
        max-width: 95%;
    }
    #back-back {
        left: 10px;
    }
}

@media (max-width: 800px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }
    #main-container {
        margin-left: 0;
    }
    #price-container {
        margin-left: 0;
    }
    #sizes-container {
        flex-wrap: wrap;
    }
    #product-description {
        margin-left: 10px;
        margin-right: 10px;
    }
    #with-sale {
        font-size: 35px;
    }
    #back-back {
        top: 5px;
    }
}