body {
    background-color: #000000;
}

#main-container {
    position: relative;
    background-image: linear-gradient(
            to bottom,
            rgb(128, 139, 150),
            rgba(128, 139, 150, 0.111)
    );
    padding: 20px;
    padding-top: 60px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 150px;
    border-radius: 10px;
    width: 55%;
    backdrop-filter: blur(10px);
    padding-bottom: 80px;
}

.grid-container {
    width: 100%;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 100px 100px 1fr;
}

h1 {
    font-family: "Oi", cursive;
    font-weight: 10;
    font-size: 40px;
    color: rgb(255, 240, 243);
    text-align: center;
    margin: 0;
}

#your {
    margin-top: 60px;
    font-size: 35px;
}

#profile {
    font-size: 43px;
    color: rgb(211, 81, 101);
    margin-top: -25px;
}
p {
    color: white;
}

#name {
    font-size: 38px;
    font-family: "Vollkorn SC", serif;
    margin-top: 10%;
    line-height: 80%;
}

#email {
    font-family: "Vollkorn SC", serif;
    margin-top: -20px;
}

/*   BUY   */

#buy {
    border-radius: 10px;

    margin-top: 40px;
    font-size: 20px;
    font-family: "Vollkorn SC", serif;
    grid-column: 1/3;
    background-color: rgba(255, 255, 255, 0.318);
    padding-bottom: 30px;
}

#buy p {
    font-size: 30px;
    margin-top: 50px;
}

#img-buy {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-buy-cont {
    height: 130px;
    width: 100px;
    margin: 10px;
    border-color: rgb(211, 81, 101);
    border-bottom: rgb(211, 81, 101);
    border-style: groove;
    position: relative;
    border-radius: 10px;
}

#img-buy img {
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.img-buy-cont:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 13, 0.2));
    border-radius: 10px;
    z-index: 1;
}

/*   ORDER   */

#order {
    border-radius: 10px;
    margin-top: 40px;
    font-size: 20px;
    font-family: "Vollkorn SC", serif;
    grid-column: 1/3;
    background-color: rgba(255, 255, 255, 0.318);

    padding-bottom: 30px;
}

#order p {
    font-size: 20px;
    margin:10px;
}

#img-order {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-order-cont {
    height: 130px;
    width: 100px;
    margin: 10px;
    position: relative;
    border-radius: 10px;
    border-color: rgb(211, 81, 101);
    border-bottom: rgb(211, 81, 101);
    border-style: groove;
    overflow: hidden;
}

#img-order img {
    height: 100%;
    width: 100%;
}

.img-order-cont:hover::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(255, 0, 0, 0), rgba(255, 0, 13, 0.2));
    border-radius: 10px;
    z-index: 1;
}

#name-container {
    border-radius: 10px;
    grid-row: 1/3;
    background-color: rgba(255, 255, 255, 0.318);
}

#avatar-container {
    width: 200px;
    overflow: hidden;
    border-radius: 10px;
    border-color: rgb(211, 81, 101);
    border-bottom: rgb(211, 81, 101);
    border-style: groove;
    grid-row: 1/3;
}

img {
    height: auto;
    width: 200px;
}

/*    BACK   */

#back {
    height: 50px;
    width: 50px;
}

#back-back {
    position: absolute;
    background-color: rgba(128, 139, 150, 0.663);
    top: 10%;
    left: 30%;
    width: 63px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
    border-radius: 5px;
}

#back-back:hover {
    background-color: rgba(128, 139, 150, 0.527);
}

button {
    font-size: 17px;
    font-family: "Vollkorn SC", serif;
    display: inline-block;
    padding: 13px 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(211, 81, 101);
    border-radius: 10px;
    text-decoration: none;
    margin-bottom: 30px;
    margin-top: 60px;
    border: none;
    align-content: center;
    justify-self: center;
    grid-column: 1/3;
}

button:hover {
    background-color: rgba(211, 81, 100, 0.781);
    color: rgba(255, 255, 255, 0.758);
}

@media (max-width: 1000px) {
    #main-container {
        width: 90%;
    }
}
@media (max-width: 1250px) {
    #main-container {
        width: 90%;
    }
    #back-back {
        left: 4%;
    }
}

@media (max-width: 500px) {
    .grid-container {
        grid-template-columns: 1fr;
        grid-template-rows: 100px 100px 1fr;
    }

    #name-container {
        grid-row: 3/4;
        padding-bottom: 50px;
        margin-top: 20px;
    }

    #avatar-container {
        margin: auto;
        overflow: hidden;
        height: 200px;
    }

    #back-back {
        top: 32%;
        z-index: 2;
    }
}